# Application
web/app/plugins/*
web/app/themes/*
!web/app/plugins/.gitkeep
!web/app/plugins/advanced-custom-fields-pro
!web/app/plugins/deploy-block
web/app/mu-plugins/*/
!web/app/themes/deploy/
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep
web/app/cache/*

# WordPress
web/wp
web/.htaccess

# Logs
*.log

# Dotenv
.env
.env.*
!.env.example

# Composer
/vendor

# WP-CLI
wp-cli.local.yml
.idea/*
/web/app/db.php
yarn.lock
package-lock.json

/web/app/plugins/deploy-block/dist/
/web/app/themes/deploy/dist/
node_modules
dist
