* {
    outline: none;
}

body, html {

}

a {
    text-decoration: none;
    transition: .3s;
    color: $accentColor;

    &:visited {
        color: $accentColor;
    }

    &:hover {
        text-decoration: none;
        opacity: .8;
    }
}

ul, ol {
    margin: 0;
    padding-left: 20px;
}

.page-content, .entry-content, .entry-summary, .post, .page {
    margin: 0;
}

.wp-embed-aspect-16-9 {
    .wp-block-embed__wrapper {
        position: relative;

        &::before {
            padding-top: 56.25%;
            content: "";
            display: block;
        }
    }

    &.wp-has-aspect-ratio {
        iframe {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            height: 100%;
            width: 100%;
            max-width: 100%;
            display: block;
        }
    }
}


.fs-17 {
    font-size: 17px !important;

    > * {
        font-size: inherit !important;
    }
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

.fw-800 {
    font-weight: 800;
}

.fw-900 {
    font-weight: 900;
}

.text-underline {
    text-decoration: underline;
}

// 5 column responsive grid
.col-15,
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.col-15 {
    flex: 0 0 20%;
    max-width: 20%;
}

@media (min-width: 576px) {
    .col-sm-15 {
        flex: 0 0 20%;
        max-width: 20%;
    }
}

@media (min-width: 768px) {
    .col-md-15 {
        flex: 0 0 20%;
        max-width: 20%;
    }
}

@media (min-width: 992px) {
    .col-lg-15 {
        flex: 0 0 20%;
        max-width: 20%;
    }
}

@media (min-width: 1200px) {
    .col-xl-15 {
        flex: 0 0 20%;
        max-width: 20%;
    }
}
